<div class="products-page">
  <app-menu></app-menu>

  <div class="products-header">
    <h1>Nos Produits</h1>
    <a routerLink="/produits/ajouter" class="btn-add">
      <i class="fas fa-plus-circle"></i> Ajouter
    </a>
  </div>

  <div class="filters-bar">
    <input type="text" [(ngModel)]="searchQuery" (input)="applyFilters()" placeholder="🔍 Rechercher un produit...">
    <select [(ngModel)]="statusFilter" (change)="applyFilters()">
      <option value="">Tous</option>
      <option value="disponible">Disponible</option>
      <option value="epuise">Épuisé</option>
    </select>
  </div>

  <div class="products-grid" *ngIf="!loading && !error">
    <div class="card" *ngFor="let product of filteredProducts">
      <img [src]="getFullImageUrl(product.imageurl)" alt="{{ product.name }}" />

      <div class="card-body">
        <h3>{{ product.name }}</h3>
        <p class="price">Détail: {{ product.price | number:'1.2-2' }} MAD</p>
        <p class="price2">Gros: {{ product.price2 | number:'1.2-2' }} MAD</p>
        <p [class.stock-empty]="product.qtt_stock === 0">Stock : {{ product.qtt_stock }}</p>
        <p class="status" [class.available]="product.avalaible">{{ product.avalaible ? '✔ Disponible' : '❌ Non dispo' }}</p>
      </div>

      <div class="card-footer">
      
        <div class="footer-actions">
          <button (click)="editProduct(product)" class="edit-btn">
            <i class="fas fa-edit"></i> Modifier
          </button>
          <button (click)="deleteProduct(product)" class="delete-btn">
            <i class="fas fa-trash"></i> Supprimer
          </button>
        </div>
      </div>
      
    </div>
  </div>

  <div class="status-message" *ngIf="loading"><i class="fas fa-spinner fa-spin"></i> Chargement...</div>
  <div class="status-message" *ngIf="error"><i class="fas fa-exclamation-circle"></i> {{ error }}</div>
</div>
